# Data Preprocessing

### Using dataset from https://beta.data.gov.sg/collections/189/datasets/d_8b84c4ee58e3cfc0ece0d773c8ca6abc/view

In [1]:
import pandas
loadeddata = pandas.read_csv('ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')
loadeddata.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

### First, check for any empty values

In [2]:
loadeddata.isna().any()

month                  False
town                   False
flat_type              False
block                  False
street_name            False
storey_range           False
floor_area_sqm         False
flat_model             False
lease_commence_date    False
remaining_lease        False
resale_price           False
dtype: bool

### Next, check for any values that is not possible

In [3]:
loadeddata.max()

month                             2024-02
town                               YISHUN
flat_type                MULTI-GENERATION
block                                  9B
street_name                       ZION RD
storey_range                     49 TO 51
floor_area_sqm                      249.0
flat_model                        Type S2
lease_commence_date                  2022
remaining_lease        97 years 09 months
resale_price                    1568888.0
dtype: object

In [4]:
loadeddata.min()

month                             2017-01
town                           ANG MO KIO
flat_type                          1 ROOM
block                                   1
street_name                  ADMIRALTY DR
storey_range                     01 TO 03
floor_area_sqm                       31.0
flat_model                         2-room
lease_commence_date                  1966
remaining_lease        41 years 09 months
resale_price                     140000.0
dtype: object

# Feature Engineering

In [6]:
data = loadeddata[['flat_type', 'storey_range', 'floor_area_sqm', 'remaining_lease', 'resale_price']]
data.head()

  flat_type storey_range  floor_area_sqm     remaining_lease  resale_price
0    2 ROOM     10 TO 12            44.0  61 years 04 months      232000.0
1    3 ROOM     01 TO 03            67.0  60 years 07 months      250000.0
2    3 ROOM     01 TO 03            67.0  62 years 05 months      262000.0
3    3 ROOM     04 TO 06            68.0   62 years 01 month      265000.0
4    3 ROOM     01 TO 03            67.0  62 years 05 months      265000.0

# Model Selection

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html,
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html

## Linear Regression

## Random Forest

max depth 30

# Model Evaluation

# Hyperparameter Tuning

# Model Interpretation