# Data Preprocessing

### Using dataset from https://beta.data.gov.sg/collections/150/view

In [2]:
import pandas
loadeddata = pandas.read_csv('HDBPropertyInformation.csv')
loadeddata.head()

C:\Users\g0dph\AppData\Local\Temp\ipykernel_6856\2414559479.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0

### First, check for any empty values

In [3]:
loadeddata.isna().any()

blk_no                   False
street                   False
max_floor_lvl            False
year_completed           False
residential              False
commercial               False
market_hawker            False
miscellaneous            False
multistorey_carpark      False
precinct_pavilion        False
bldg_contract_town       False
total_dwelling_units     False
1room_sold               False
2room_sold               False
3room_sold               False
4room_sold               False
5room_sold               False
exec_sold                False
multigen_sold            False
studio_apartment_sold    False
1room_rental             False
2room_rental             False
3room_rental             False
other_room_rental        False
dtype: bool

### Next, check for any values that is not possible

In [4]:
loadeddata.max()

blk_no                        9C
street                   ZION RD
max_floor_lvl                 50
year_completed              2023
residential                    Y
commercial                     Y
market_hawker                  Y
miscellaneous                  Y
multistorey_carpark            Y
precinct_pavilion              Y
bldg_contract_town            YS
total_dwelling_units         584
1room_sold                   253
2room_sold                   234
3room_sold                   528
4room_sold                   316
5room_sold                   164
exec_sold                    135
multigen_sold                 66
studio_apartment_sold        194
1room_rental                 520
2room_rental                 452
3room_rental                 114
other_room_rental             32
dtype: object

In [5]:
loadeddata.min()

blk_no                              1
street                   ADMIRALTY DR
max_floor_lvl                       1
year_completed                   1937
residential                         N
commercial                          N
market_hawker                       N
miscellaneous                       N
multistorey_carpark                 N
precinct_pavilion                   N
bldg_contract_town                AMK
total_dwelling_units                0
1room_sold                          0
2room_sold                          0
3room_sold                          0
4room_sold                          0
5room_sold                          0
exec_sold                           0
multigen_sold                       0
studio_apartment_sold               0
1room_rental                        0
2room_rental                        0
3room_rental                        0
other_room_rental                   0
dtype: object

# Feature Engineering

In [10]:
data = loadeddata[['max_floor_lvl', 'year_completed', 'total_dwelling_units', '3room_sold', '4room_sold', '5room_sold']]
data.head()

,max_floor_lvl,year_completed,total_dwelling_units,3room_sold,4room_sold,5room_sold
0,16,1970,142,138,1,2
1,14,1975,206,204,0,2
2,2,2010,0,0,0,0
3,15,1982,102,0,10,92
4,4,1975,55,54,0,1

# Model Selection

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html,
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html

## Linear Regression

## Random Forest

max depth 30

# Model Evaluation

# Hyperparameter Tuning

# Model Interpretation